<form (submit)="onSubmit()" class="d-flex justify-content-center align-items-center mb-4">
    <div data-mdb-input-init class="form-outline flex-fill">
      <input type="text" id="form3" class="form-control form-control-lg" [(ngModel)]="newTodo" name="newTodo" required />
      <label class="form-label" for="form3">Qu'est ce qu'on fait chef ?</label>
    </div>
    <div data-mdb-input-init class="form-outline flex-fill ms-2">
      <input type="date" id="dueDate" class="form-control form-control-lg" [(ngModel)]="newDueDate" name="newDueDate" [min]="minDate" required />
      <label class="form-label" for="dueDate">Date de fin</label>
    </div>
    <div data-mdb-input-init class="form-outline flex-fill ms-2">
      <textarea id="form4" class="form-control form-control-lg" [(ngModel)]="newText" name="newText" rows="3" required></textarea>
      <label class="form-label" for="form4">Description</label>
    </div>
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg ms-2">Add</button>
  </form>