<section class="vh-100" style="background-color: #e2d5de;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h6 class="mb-3">Des choses à faire</h6>
            <button class="btn btn-primary btn-lg mb-4" (click)="openAddTodoModal()">Add Todo</button>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Todo Item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let todo of todos$ | async">
                  <td class="todo-item">
                    <div [ngClass]="{'text-decoration-line-through': todo.completed}">
                      <div *ngIf="!todo.editing">{{ todo.title }}</div>
                      <input *ngIf="todo.editing" [(ngModel)]="todo.title" class="form-control" />
                      <small class="text-muted">Ajouté le: {{ todo.dateAdded?.toDate() | date:'short' }}</small>
                      <button class="btn btn-link p-0" (click)="openDescriptionModal(todo)">Description</button>
                    </div>
                  </td>
                  <td class="status">
                    {{ todo.completed ? 'Fini' : 'En cours' }}
                  </td>
                  <td class="due-date">
                    <div class="d-flex align-items-center">
                      {{ todo.dueDate?.toDate() | date:'dd/MM/yyyy' }}
                      <i *ngIf="isDueSoon(todo.dueDate?.toDate())" class="fas fa-exclamation-triangle text-warning ms-2"></i>
                      <i *ngIf="isDueDatePassed(todo.dueDate?.toDate())" class="fas fa-exclamation-triangle text-danger ms-2"></i>
                    </div>
                  </td>
                  <td class="action">
                    <button (click)="toggleTodoStatus(todo)" class="btn btn-secondary btn-sm">
                      <i class="fas" [ngClass]="todo.completed ? 'fa-undo' : 'fa-check'"></i>
                    </button>
                    <button (click)="deleteTodo(todo.id)" class="btn btn-danger btn-sm ms-2">
                      <i class="fas fa-trash"></i>
                    </button>
                    <button *ngIf="!todo.editing" (click)="editTodo(todo)" class="btn btn-warning btn-sm ms-2">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button *ngIf="todo.editing" (click)="saveTodo(todo)" class="btn btn-success btn-sm ms-2">
                      <i class="fas fa-save"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add Todo Modal -->
<div class="modal fade" id="addTodoModal" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTodoModalLabel">Ajouter une tâche</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="addTodo()">
          <div class="mb-3">
            <label for="title" class="form-label">Titre</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="newTodo" name="newTodo" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="newText" name="newText" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="dueDate" class="form-label">Date de fin</label>
            <input type="date" class="form-control" id="dueDate" [(ngModel)]="newDueDate" name="newDueDate" [min]="minDate" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body overflow-auto">
        <p class="text-wrap">{{ selectedTodo?.text }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>