<form (submit)="onSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="newTodo" name="newTodo" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="newText" name="newText" rows="3"
            required></textarea>
    </div>
    <div class="mb-3">
        <label for="dueDate" class="form-label">Date d'échéance</label>
        <input type="date" class="form-control" id="dueDate" [(ngModel)]="newDueDate" name="newDueDate" [min]="minDate"
            required>
    </div>
    <div class="mb-3">
        <label for="assignedTo" class="form-label">Assigné à</label>
        <select class="form-control" id="assignedTo" [(ngModel)]="assignedTo" name="assignedTo" required>
            <option *ngFor="let user of users" [value]="user.email">{{ user.email }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>